@model IEnumerable<BillingApp.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.batchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status1.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.batchNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status1.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iid }) |
            @Html.ActionLink("Details", "Details", new { id=item.iid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iid })
        </td>
    </tr>
}

</table>
